<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example</title>
    <meta name="generator" content="WYSIWYG Web Builder 15 Trial Version - http://www.wysiwygwebbuilder.com">
    <link href="/css/Final_zafar.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css">
</head>

<body>
    <h2 style=""><%= title %></h2>
    <div class="height:50px; width:100%; border:2px solid #eee; border-radius:5px; color:#343434;">
        <h2 style=""><%= message %></h2>
    </div>
<script type="text/javascript" src="/js/action.js"></script>

</html>